//FONTES
$fonte: 'Roboto', sans-serif;
//CORES
$cor-primaria: #884A39;
$cor-secundaria: #C38154;
$cor-terciaria: #FFC26F;
$cor-quaternaria: #F9E0BB;
//TAMANHO DAS FONTES
$tamanho-do-texto: 3rem;